.custom-calendar {
  background-color: white;
  color: black;
}

[data-theme='dark'] .custom-calendar {
  background-color: #19346b;
  color: white;
  border: 1px solid #102245;
}

.custom-calendar .react-datepicker__day--selected {
  background-color: #102245;
  color: white;
}